:root {
  --color1: #151029;
  --color2: #60576b;
  --color3: #cfcfcf;
  --color4: #574a45;
}
@font-face {
  font-family: "Mplus";
  src: url(assets/police/MPLUSRounded1c-Regular.ttf);
}
@font-face {
  font-family: "Grille";
  src: url(assets/police/BitcountGridSingle_Cursive-Light.ttf);
}
/* ELLEMENT GENERAL */
* {
  font-family: "Mplus", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
}

body {
  background: url(assets/img/fond.jpg) center/cover;
  height: 100vh;
}

h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
  font-size: 2.5rem;
  text-align: center;
  color: var(--color4);
}
h1 {
  text-align: center;
  margin: 30px 30px 40px 30px;
  font-size: 3.5rem;
  font-family: "Grille";
  text-shadow: 5px 2px 8px var(--color2);
}
/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 20px;
  align-items: center;
}
nav h3::after {
  content: "\2618";
  padding: 10px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: flex;
  color: var(--color1);
  margin: 20px;
  padding: 10px;
  font-size: 1.4rem;
}

.header,
.galerie {
  border: 1px solid;
  border-radius: 10px;
  background: rgba(145, 139, 145, 0.466);
  box-shadow: 3px 3px 9px 3px black;
  min-height: 400px;

  margin: 10px;
}

/* HEADER  */
.header {
  border-radius: 10px;
  margin: 10px;
  margin-top: 60px;
  padding: 10px 20px;
  display: flex;
  min-height: 250px;
}

.header-left {
  width: 30%;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: -3px 5px 13px 2px black;
  margin-right: 20px;
  display: flex;
}
.header-container-left {
  display: flex;
  position: absolute;
}
#anim {
  content: url(assets/img/papillon.png);
  position: absolute;
  height: 50px;

  z-index: -1;
  animation: papillon 60s infinite linear;
}
@keyframes papillon {
  0% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
  10% {
    top: 6%;
    left: 60%;
    transform: rotate(108deg);
  }
  20% {
    top: 9%;
    left: 80%;
    transform: rotate(120deg);
  }
  30% {
    top: 8%;
    left: 100%;
    transform: rotate(113deg);
  }

  40% {
    top: 20%;
    left: 150%;
    transform: rotate(197deg);
  }
  50% {
    top: 60%;
    left: 100%;
    transform: rotate(239deg);
  }
  60% {
    top: 90%;
    left: 90%;
    transform: rotate(276deg);
  }
  70% {
    top: 110%;
    left: 50%;
    transform: rotate(309deg);
  }
  80% {
    top: 85%;
    left: 30%;
    transform: rotate(309deg);
  }
  90% {
    top: 50%;
    left: 15%;
    transform: rotate(290deg);
  }
  100% {
    top: 2%;
    left: 2%;
    transform: rotate(10deg);
  }
}

.header-container-left h4 {
  padding: 10px;
  margin: 10px;
  display: flex;
  font-size: 1.5rem;
}
.header-container-left li {
  padding: 0;
  margin: 20px;
}
.header-right {
  width: 70%;
}
.text-container {
  display: flex;
}
.header-contenair-right p {
  display: flex;
  text-align: center;
  margin: 30px 250px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 40px;
  flex-direction: column;
}

/* IMAGE  */
.galerie {
  display: grid;
  text-align: center;
}
.container-galerie {
  margin-top: 20px;
}
.image {
  margin-top: 10px;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 3px 2px 9px 2px rgba(0, 0, 0, 0.534);
}
